* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.game-container {
    position: relative;
    display: inline-block;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
    /*UI overlay that is on top of the canvas*/
.ui-layer {
    position: absolute;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 20px;
    z-index: 10;
}

.player-stats {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
  /*player 1 is on the left so we flip the flex's direction*/
.player-stats:first-child {
    justify-content: flex-start;
}
.health-bar-border {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%; /*js will change this data of width*/
    transition: width 0.1s ease;
}

/*this styles the timer*/
.timer {
    width: 100px;
    height: 50px;
    background-color: #111;
    color: #fff;
    border: 3px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    margin : 0 20px;
}

/*Game End Text*/
.message-display {
    position: absolute;
    color: #fff;
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    z-index: 20;
    pointer-events: none; /*Clicks pass through here*/
    text-shadow: 2px 2px #000;
}